{% extends 'myapp/base.html' %}

{% block content %}
<div class="col sm-10">
  <h2 class="text-white my-5">Password Change Page</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %}
    <input type="submit" value="Change Password" class="btn btn-primary">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
  </form>
  <h2 class="btn btn-warning my-2"><a href="{% url 'profile' %}">Back</a></h2>
  <h2 class="btn btn-danger my-2"><a href="{% url 'logout' %}">Logout</a></h2>
</div>
{% endblock content %}